CompileFlags:
  Add: [ -std=c++2b ]
  Remove: [-W*, -std=*]

Index:
  Background: true
  StandardLibrary: true

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: [modernize*, performance*, readability*]

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true